.menti-feedback-results{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/background3.avif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.menti-feedback-results .controls {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 20px 0;
}

.menti-feedback-results .controls button{
    background-color: transparent;
    border: none;
}

.menti-feedback-results .controls button img{
    width: 60px;
    height: auto;
    transition: all .35s ease;
}

.menti-feedback-results .controls .btn-previous img{
    transform: scaleX(-1);
}

.menti-feedback-results .btn-next-question{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
}

.menti-feedback-results .btn-next-question img {
    width: 50px;
    height: auto;
}

.menti-feedback-results h1{
    font-size: 50px;
}

.menti-feedback-results .question{
    font-size: 45px;
    width: 80%;
    height: 300px;
    text-align: center;
    margin: 60px 0 0 0;
}

.menti-feedback-results .feed{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.menti-feedback-results .feed .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menti-feedback-results .feed p{
    text-align: center;
}

.menti-feedback-results .feed img {
    width: 200px;
    margin-bottom: 10px;
}

@media (max-width: 1200px){
    .menti-feedback-results .feed img {
        width: 150px;
    }
}

@media (max-width: 900px){
    .menti-feedback-results .feed img {
        width: 100px;
    }

    .menti-feedback-results h1{
        font-size: 40px;
    }
    
    .menti-feedback-results .question{
        font-size: 35px;
        width: 90%;
        height: 250px;
    }
}

@media (max-width: 600px){
    .menti-feedback-results .feed img {
        width: 60px;
    }

    .menti-feedback-results h1{
        font-size: 30px;
    }
    
    .menti-feedback-results .question{
        font-size: 30px;
        width: 95%;
        height: 250px;
    }
}

.menti-feedback-results .btn-leave{
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgba(216, 216, 216, 0.774);
    cursor: pointer;
    transition: all .2s ease;
}

.menti-feedback-results .btn-leave:hover {
    background-color: rgb(180, 180, 180);
}