<div class="multiple-choice-view" *ngIf="multipleChoice">
    <button class="btn-next" (click)="NextQuestion()">Next question</button>
    <h1>{{ multipleChoice.content[indexContent].question }}</h1>
    <ul>
        <li *ngFor="let options of multipleChoice.content[indexContent].optionsMultipleChoice; let i = index">
            <button class="btn-vote" (click)="DoRate(i)" (click)="ChangeColor(i)">{{ options.option }}</button>
            <div class="shape"></div>
        </li>
    </ul>
</div>
