<div class="multiple-choice-view" *ngIf="multipleChoice">
    <button class="btn-next" (click)="NextQuestion()">Next</button>
    <p class="question">{{ multipleChoice.content[index].question }}</p>
    <ul class="feed">
        <li class="card" *ngFor="let options of multipleChoice.content[index].optionsMultipleChoice; let i = index">
            <p>{{ options.option }}</p>
            <button class="vote" (click)="DoRate(i)" (click)="ChangeColor(0)">Vote</button>
        </li>
    </ul>
</div>
