.menti-multiple-choice-builder {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: #eeeff1;
    min-height: 100vh;
    height: 100%;
}

/* Header */
.menti-multiple-choice-builder header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    gap: 30px;
    padding: 10px 5%;
    background-color: white;
}

.menti-multiple-choice-builder header img{
    width: 50px;
    height: 50px;
}

.menti-multiple-choice-builder .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 30px;
    padding: 20px;
}

/* Editor overview */
.menti-multiple-choice-builder .editor-overview {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 1600px;
    width: 100%;
    height: 90px;
    flex-direction: row;
}

.menti-multiple-choice-builder .editor-overview .btn-add-slide {
    text-align: center;
    background-color: rgb(25, 108, 255);
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
    transition: all .35s ease;
    width: 80px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menti-multiple-choice-builder .editor-overview .btn-add-slide:hover {
    background-color: rgb(13, 88, 218);
}

.menti-multiple-choice-builder .editor-overview ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    background-color: white;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.menti-multiple-choice-builder .editor-overview ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 109, 255, 0.575);
}

.menti-multiple-choice-builder .editor-overview ul li .btn-slide {
    width: 70px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.menti-multiple-choice-builder .editor-overview ul li:hover {
    background-color: rgb(25, 108, 255);
}

.menti-multiple-choice-builder .editor-overview .btn-submit {
    text-align: center;
    background-color: #95db34;
    border: none;
    cursor: pointer;
    transition: all .35s ease;
    width: 100px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menti-multiple-choice-builder .editor-overview .btn-submit img{
    width: 40px;
}

.menti-multiple-choice-builder .editor-overview .btn-submit:hover {
    background-color: #649b17;
}

/* Slide */
.menti-multiple-choice-builder .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1600px;
    width: 100%;
    height: 600px;
}

/* Preview */
.menti-multiple-choice-builder .slide .preview {
    background-image: url(../../../../assets/background3.avif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    min-width: 800px;
}

.menti-multiple-choice-builder .slide .preview p {
    font-size: clamp(25px, 3vw, 40px);
}

.menti-multiple-choice-builder .slide .preview .feed {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    gap: 30px;
}

.menti-multiple-choice-builder .slide .preview .feed p {
    font-size: 26px;
    width: 160px;
}

/* Options */
.menti-multiple-choice-builder .slide .options {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    height: 100%;
    min-width: 280px;
    padding-bottom: 40px;
}

.menti-multiple-choice-builder .slide .options .mode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 10px;
}

.menti-multiple-choice-builder .slide .options .btn-mode-hover:hover {
    border: 1px solid rgb(25, 108, 255);
}

.menti-multiple-choice-builder .options .modeOn {
    padding: 10px;
    border: 1px solid rgb(209, 226, 255);
    background-color: rgb(239, 245, 255);
}

.menti-multiple-choice-builder .slide .options .modeOff {
    padding: 10px;
    border: 1px solid white;
    background-color: white;
}

.menti-multiple-choice-builder .slide .options .mode img {
    width: 40px;
}


.menti-multiple-choice-builder .slide .options .content-mode1 {
    display: flex;
    flex-direction: column;
}

.menti-multiple-choice-builder .slide .options h2 {
    padding: 20px;
    border-bottom: 1px solid rgb(116, 116, 116);
}

.menti-multiple-choice-builder .slide .options .specification1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px;
    border-bottom: 1px solid rgb(116, 116, 116);
}

.menti-multiple-choice-builder .slide .options .specification1 p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menti-multiple-choice-builder .slide .options .specification1 .input-question {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.menti-multiple-choice-builder .slide .options .specification2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px;
    border-bottom: 1px solid rgb(116, 116, 116);
}

.menti-multiple-choice-builder .slide .options .specification2 p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menti-multiple-choice-builder .slide .options .specification2 .selectors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.menti-multiple-choice-builder .slide .options .specification2 .input-option-number {
    width: 35px;
    height: 30px;
    font-size: 20px;
}

.menti-multiple-choice-builder .slide .options .specification2 .btn-option{
    width: 100px;
    height: 30px;
    background-color: rgb(204, 204, 204);
    border: none;
    transition: all .35s ease;
}

.menti-multiple-choice-builder .slide .options .specification2 .btn-option:hover{
    background-color: rgb(158, 158, 158);
}

.menti-multiple-choice-builder .options .specification2 .input-option{
    width: 270px;
    height: 30px;
}


.menti-multiple-choice-builder .slide .options .content-mode2 {
    display: none;
    flex-direction: column;
}

.menti-multiple-choice-builder .slide .options .content-mode2 .theme-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all .20s ease-in;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul button:hover {
    opacity: 0.7;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul img {
    width: 100px;
    height: 60px;
}

.menti-multiple-choice-builder .slide .options .content-mode2 {
    display: none;
    flex-direction: column;
}

.menti-multiple-choice-builder .slide .options .content-mode2 .theme-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul button:hover {
    opacity: 0.7;
}

.menti-multiple-choice-builder .slide .options .content-mode2 ul img {
    width: 100px;
    height: 60px;
}

.menti-multiple-choice-builder ::-webkit-scrollbar {
    height: 10px;
}

.menti-multiple-choice-builder ::-webkit-scrollbar-thumb {
    background-color: #888;
}

.menti-multiple-choice-builder ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

@media screen and (max-width: 1300px){
    .menti-multiple-choice-builder .slide .preview .feed img {
        width: 120px;
    }
}

@media screen and (max-width: 1160px) {
    .menti-multiple-choice-builder .slide {
        flex-wrap: wrap;
    }

    .menti-multiple-choice-builder .slide .preview {
        width: 100%;
        height: 100%;
        min-width: 400px;
    }
    
    .menti-multiple-choice-builder .slide .preview .feed img {
        width: 100px;
    }

    .menti-multiple-choice-builder .slide .options {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        min-width: 400px;
        height: auto;
    }

    .menti-multiple-choice-builder{
        min-height: 140vh;
    }

}

@media screen and (max-width: 750px) {
    .menti-multiple-choice-builder .slide .preview {
        width: 100%;
        height: 70%;
        min-width: 400px;
    }

    .menti-multiple-choice-builder .slide .preview .feed img {
        width: 50px;
    }

    .menti-multiple-choice-builder{
        min-height: 120vh;
    }

}

@media screen and (max-width: 450px) {
    .menti-multiple-choice-builder .slide .preview {
        min-width: 300px;
    }

    .menti-multiple-choice-builder .slide .preview .feed img {
        width: 30px;
    }

    .menti-multiple-choice-builder .slide .options {
        min-width: 300px;
    }

    .menti-multiple-choice-builder{
        min-height: 130vh;
    }

}


