<div class="login-menti">
    <div class="title">
        <img src="../../../assets/logo.svg" alt="">
        <h1>Mentimeter</h1>
    </div>
    <div class="options">
        <input class="input-username" type="text" placeholder="Username" [(ngModel)]="username">
        <input class="input-password" type="password" placeholder="Password" [(ngModel)]="password">
        <button class="btn-login" (click)="Login()">Login</button>
        <button class="btn-register" (click)="Register()">Register</button>
    </div>
</div>
