.menti-feedback-results {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../../assets/background3.avif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.menti-feedback-results .options {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.397);
    width: 100%;
    padding: 10px;
    gap: 100px;
}

.menti-feedback-results .options .btn-previous,
.menti-feedback-results .options .btn-next {
    border: none;
    background-color: transparent;
}

.menti-feedback-results .options .btn-previous img,
.menti-feedback-results .options .btn-next img {
    width: 60px;
}

.menti-feedback-results .options .btn-previous img {
    rotate: 180deg;
}

.menti-feedback-results .options h1 {
    font-size: 40px;
    text-align: center;
}

.menti-feedback-results .btn-leave {
    background-color: rgba(255, 255, 255, 0.397);
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    width: 100%;
}

.menti-feedback-results .btn-leave:hover {
    background-color: rgba(190, 253, 242, 0.658);
}

.menti-feedback-results .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    width: 100%;
}

.menti-feedback-results .content h2{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
}

.menti-feedback-results .content ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 95%;
    padding: 20px 0;
}

.menti-feedback-results .content ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.menti-feedback-results .content ul li img {
    width: 150px;
}

.menti-feedback-results .content ul li p {
    font-size: 25px;
}

@media (max-width: 950px){
    .menti-feedback-results .options {
        gap: 50px;
    }

    .menti-feedback-results .options .btn-previous img,
    .menti-feedback-results .options .btn-next img {
        width: 50px;
    }

    .menti-feedback-results .options h1 {
        font-size: 35px;
    }

    .menti-feedback-results .content ul li img {
        width: 100px;
    }
    
    .menti-feedback-results .content ul li p {
        font-size: 22px;
    }
}

@media (max-width: 650px){
    .menti-feedback-results .options {
        gap: 30px;
    }

    .menti-feedback-results .options .btn-previous img,
    .menti-feedback-results .options .btn-next img {
        width: 30px;
    }

    .menti-feedback-results .options h1 {
        font-size: 26px;
    }

    .menti-feedback-results .content ul li img {
        width: 60px;
    }
    
    .menti-feedback-results .content ul li p {
        font-size: 18px;
    }
}

@media (max-width: 525px){
    .menti-feedback-results .options {
        gap: 20px;
    }

    .menti-feedback-results .options .btn-previous img,
    .menti-feedback-results .options .btn-next img {
        width: 30px;
    }

    .menti-feedback-results .options h1 {
        font-size: 22px;
    }

    .menti-feedback-results .content ul li img {
        width: 40px;
    }
    
    .menti-feedback-results .content ul li p {
        font-size: 16px;
    }
}